<div class="row login-screen">
  <div class="left-banner col s7">

  </div>

  <div class="container-login col s5 ">
    <br/>
      <h2 clas="login-title">Tudo Guloso</h2>
    <%= form_for :session, url: sign_in_path do |f| %>
      <div class="input-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "border-login" %>
      </div>

      <div class="input-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "border-login" %>
      </div>
      <div class="">
        <%= f.submit "Log in", class: "waves-effect waves-light btn btn-login" do %>
          <i class="material-icons right">send</i>
        <% end %> 
      </div>
      <br/>
      <p>Novo no tudo guloso? <%= link_to " Cadastre-se agora!", new_user_path %></p>
    <% end %>
  </div>
</div>
